:root {
  --primary-color: #336699;
  --text-Color: #ffffff;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.navbar {
  background-color: var(--primary-color);
}
.navbar-brand {
  color: grey;
}

.footer {
  background-color: var(--primary-color);
  padding: 40px 35px;
}

.jumbotron {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), black), url("../src/images/jumbotron.jpg");
  background-size: cover;
}

.card-header {
  background-color: var(--primary-color);
}

.btn {
  text-decoration: none;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */